<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
 <a href="/first/hello">Hello</a><br>
 <a href="/first/hello?name=Asadbek&surname=Nizomov">Hello Example</a><br>
 <a href="/first/goodbye">Goodbye</a><br>
 <a href="/exit">Exit</a><br>
 Calculator must be like this: calculator?a=4&b=4&action=add
 <br>actions: add, multi, sub, div and a and b values
 <a href="/first/calculator?a=4&b=12&action=add">Calculator example</a><br>
 <a href="/people">People</a><br>
 <img src="https://www.gstatic.com/webp/gallery3/3.png">
</body>
</html>